// -- intro ---------------------------------------------------------------------------------
.intro {
  background-image: url(../../../assets/img/intro/intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100dvh;
  min-height: 845px;
  padding-top: 78px;

  @media (max-width: 1199.98px){
    background-image: url(../../../assets/img/intro/intro-bg--tablet.jpg);
    background-position: right;
  }

  @media (max-width:toEm($tablet)){
    background-image: url(../../../assets/img/intro/intro-bg--mobile.jpg);
    height: 100dvh;
    padding-top: 60px;
  }

  @media (max-width:toEm($mobileSmall)){
    // max-height: 767px;
  }
}

.intro__container--full {
  height: calc(100dvh - 78px);
  min-height: 767px;

  @media (max-width:toEm($tablet)){
    height: calc(100dvh - 60px);
    // height: 100%;
  }
}

.intro__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  height: 100%;
  min-height: 100%;

  @media (max-width:toEm($tablet)){
    display: flex;
    flex-direction: column;
    gap: 0; 
  }
}

.intro__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.intro__title {
  font-family: "a_RubricaXtCn";
  color: #fff;
  line-height: 1.1;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: auto;

  @include adaptiveValue("font-size", 103, 43, 0, 1440, 479.98);

  @media (max-width:toEm($tablet)){
    order: 1;
    margin: 100px 0 0;
  }

  @media (max-width:toEm($mobileSmall)){
    margin-top: 50px; 
  }

  .intro__title-span {
    background-color: #FF0000;
    width: fit-content;
    transform: skew(-8deg, 0deg);
    position: relative;
    white-space: nowrap;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 8px;
      transform: skew(8deg, 0deg);
      width: 100%; 
      height: 100%; 
      background-color: #FF0000;
      z-index: -1;
    }
  }

  .intro__title-span--1 {
    padding: 20px 20px 10px 10px;
    
    @media (max-width: 1199.98px){
      padding: 15px 20px 10px 10px;
    }

    @media (max-width:toEm($tablet)){
      padding: 10px 20px 10px 10px;
    }

    @media (max-width:toEm($mobileSmall)){
      padding: 8px 15px 4px 0px;
    }
  }
  
  .intro__title-span--2 {
    padding: 10px 20px 20px 10px;

    @media (max-width: 1199.98px){
      padding: 10px 20px 15px 10px;
    }

    @media (max-width:toEm($tablet)){
      padding: 10px 20px 10px 10px;
    }

    @media (max-width:toEm($mobileSmall)){
      padding: 4px 15px 4px 0px;
    }
  }
}

.intro__descr {
  display: flex;
  align-items: center;
  margin: 50px 0 30px;

  @media (max-width:toEm($tablet)){
    order: 2;
  }
}

.intro__descr-img-wrap {
  width: 78px;
  height: 78px;
  flex: 0 0 78px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 1;

  @media (max-width:toEm($mobileSmall)){
    width: 70px;
    height: 70px;
    flex: 0 0 70px;
  }
}

.intro__descr-img {
  width: 63px;
  height: 63px;
  flex: 0 0 63px;

  @media (max-width:toEm($mobileSmall)){
    width: 55px;
    height: 55px;
    flex: 0 0 55px;
  }
}

.intro__descr-text {
  background-color: #F4F4F4;
  padding: 10px 25px 10px 40px;
  transform: skew(-8deg, 0deg);
  margin-left:  -25px;
  font-family: "a_RubricaXtCn";
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1.2;

  @media (max-width:toEm($mobile)){
    padding: 6px 15px 6px 35px;
    margin-left:  -30px;
  }
  
  @media (max-width:toEm($mobileSmall)){
    font-size: 21px;
  }

}

.ba-slider  {
  position: relative;
  --pos: 51%;          
  --rail: 2px;         
  --knob: 45px;         
  --hitpad: 20px;       

  width: min(615px, 100%);
  height: auto;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  // margin-top: -75px;
  margin-top: -50px;

  @media (max-width:toEm($tablet)){
    margin: 0 auto;
  }

  @media (max-width:toEm($tablet)){
    order: 3; 
  }

  @media (max-width:toEm($mobile)){
      --knob: 30px;  
  }
}

.ba__layer {
  position: absolute;
  inset: 0;
  background: transparent;
  will-change: clip-path;
}

.ba__layer > img {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
  max-height: none !important;
  object-fit: contain;        
  object-position: center;
  display: block;
  pointer-events: none;       
  background: transparent;    
  transform: none !important; 
}

.ba__layer--before {
  clip-path: inset(0 calc(100% - var(--pos)) 0 0);
}

.ba__layer--after {
  clip-path: inset(0 0 0 var(--pos));
}

.ba__handle {
  position: absolute;
  inset-block: 0;
  inset-inline-start: var(--pos);
  z-index: 10;
  height: 75%;
  bottom: 75px;
  transform: translate-x(-50%);
  margin-top: auto;
  width: var(--rail);
  background-color: #fff;
  cursor: ew-resize;
  touch-action: none;
  outline: none; 

  @media (max-width: 575.98px){
    bottom: 35px;
    height: 80%;
  }
}

.ba__handle::before {
  content: "";
  position: absolute;
  inset: 0 calc(-1 * var(--hitpad));
}

.ba__handle::after {
  content: "";
  position: absolute;
  top: 100%; left: 50%;
  transform: translate(-50%, -95%);
  width: var(--knob);
  height: var(--knob);
  border-radius: 50%;
  background: transparent center / cover no-repeat;
  background-image: url('../../../assets/img/intro/icon-sun-snow.png');
}

.ba__handle:focus-visible::after {
  box-shadow:
    0 0 0 3px rgba(255,255,255,.9),
    0 0 0 6px rgba(0,0,0,.25);
}

.ba__bottom {
  position: absolute;
  bottom: 70px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px) saturate(150%);
  -webkit-backdrop-filter: blur(25px) saturate(150%);
  border: 1px solid #fff;

  @media (max-width:toEm($mobile)){
    height: 35px; 
    width: 90%;
  }

  @media (max-width: 575.98px){
    bottom: 30px;
  }
 
  img {
    width: 30px;
    height: 30px;
    margin: 0 50px;
    z-index: -1;

     @media (max-width:toEm($mobile)){
      height: 20px; 
      margin: 0 40px;
    }
  }
}


// -----------------------------------------------------------------
.intro__form {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px) saturate(150%);
  -webkit-backdrop-filter: blur(25px) saturate(150%);
  height: fit-content;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: 70px;
  padding: 15px 20px;

  @media (max-width: 1440px){
    padding: 15px;
  }

  @media (max-width:toEm($tablet)){
    margin: 25px 0 0;
    background-color: #f2f2f2;
  }

  @media (max-width: 575.98px){
    padding: 5px 10px 15px;
  }
}

.form-body {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 15px;
  margin-bottom: 12px;

  @media (max-width: 1199.98px){
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}

.form-input {
  background-color: #fafafa;
  border: 1px solid #cacaca;
  border-radius: 10px;
  padding: 10px 20px;
  height: 45px;
  color: #868282;
  font-weight: 500;
}

.form-input.is-invalid {
  border-color: #E11B22;
}

.form-input::placeholder {
  color: #BDBDBD;
  font-weight: 500;
}

.form-input::-webkit-outer-spin-button,
.form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.intro__form-btn {
  height: 45px;
}

.btn {
  background-color: #E11B22;
  border: 1px solid #E11B22;
  border-radius: 10px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #fff;
    transition: .1s;
    transform: skew(-15deg);
    animation: animate 5s linear infinite; 
    filter: blur(.6rem);
    opacity: 0.8;
  }

  @keyframes animate {
    0% {
      left: -150px;
    }
    20% {
      left: calc(100% + 10px);
    }
    100% {
      left: calc(100% + 40px);

    }
  }

  &:hover {
    background-color: #b0151a;
    transition: all 0.1s ease;
  }
  
  &:hover:before {
    width: 100%;
    transform: skew(0deg);
    animation: none; 
    transition: all 0.1s ease;
    filter: none;
    opacity: 1;
  }
 
  &:hover span {
    color: #b0151a; 
    z-index: 1;
  }

  span {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
  }
}

.intro__checkbox {
  .checkbox__text {
    color: #333;
    font-weight: 500;
    font-size: 7px;
    text-transform: uppercase;
    line-height: 120%;
    gap: 5px;

    span {
      display: inline-flex;
      white-space: nowrap;
      text-decoration: underline;
      color: #333;
      font-weight: 500;
      font-size: 7px;
      text-transform: uppercase;
      line-height: 120%;
    }

    br {
      @media (max-width:toEm($tablet)){
        display: none;
      }
    }
  }

  .checkbox__text:before,
  .checkbox__text:after {
    width: 16px;
    height: 16px;
    flex: 0 0 16px;
  }

  .checkbox__input:checked + .checkbox__text:after {
    width: 12px;
    height: 12px;
    flex: 0 0 12px;
    top: 2px;
    left: 2px;
    background-image: url(../../../assets/img/icons/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
  }

  .checkbox__input.is-invalid + .checkbox__text:before {
    border-color: #E11B22 !important;
    box-shadow: 0 0 0 1px #E11B22 inset;
  }
}

.intro__form-body {
  transition: all .6s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.intro__form.intro__form--validated .intro__form-body {
  transition: all .6s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.intro__form-info {
  transition: all 1s ease-in-out;
  font-family: "a_RubricaXtCn";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  top: -100%;
  padding: 15px 20px;
  text-align: center;
  font-size: 45px;

  @media (max-width: 1199.98px){
    padding: 15px;
  }

}

.intro__form.intro__form--validated .intro__form-info {
  transition: all 1s ease-in-out;
  opacity: 1;
  visibility: visible;
  top: 0;
}

.form-error {
  color: #E11B22;
  font-size: 12px;
  line-height: 1.2;
  margin: 6px 0 0 0;
}
// ---------------------------------------------------------
.intro__bottom {
  background-color: #f2f2f2; 
  height: 100%;
}

.intro-bottom__container {
  display: flex;
  align-items: center;

  @media (max-width: 1199.98px){
    flex-direction: column;
    padding: 0;
  }
}

.intro-call {
  display: none;

  @media (max-width: 575.98px){
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E11B22; 
    padding: 15px;
  }
}

.intro-call__container {
  width: 100%;
}

.intro-call__btn {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: "a_RubricaXtCn";
  font-size: 30px;
  color: #000;
  height: 58px;
  width: 100%;
  transition: all .2s ease-in-out;
  padding: 0 15px;

  &:hover {
    transition: all .2s ease-in-out;
    background-color: #000;
    color: #fff;
  }
}

.intro-bottom__row {
  min-height: 103px;  
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0;
  gap: 10px;

   @media (max-width: 1199.98px){
    display: flex; 
    flex-direction: column;
  }
}

.intro__bottom-item--1 {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  min-height: 105px;
  margin-left: -10px;

  @media (max-width: 1199.98px){
    width: 100%;
    margin-right: -10px;
  } 

  @media (max-width: 575.98px){
    min-height: 80px;
  }

  @media (max-width:toEm($mobileSmall)){
    min-height: 65px; 
  }
}

.intro__bottom-item-img {
  position: relative; 
}

.intro__bottom-item--bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  img {
    height: 100%;
    width: 100%;
  }
}

.intro__bottom-item--poster {
  position: absolute;
  bottom: 0;
  left: 0;

  @media (max-width: 1199.98px){
    max-height: 130px;
  }

  @media (max-width: 575.98px){
    max-height: 90px;
  }
  
  @media (max-width:toEm($mobileSmall)){
    max-height: 75px; 
  }
}

.intro__bottom-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  @media (max-width: 1199.98px){
    flex-direction: row;
    gap: 15px;
  }

  @media (max-width:toEm($mobile)){
    gap: 0;
    flex-direction: column;
  }

  .intro__bottom-span {
    color: #fff;
    white-space: nowrap;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;

    @include adaptiveValue("font-size", 45, 30, 0, 1199.98, 479.98);
  }

  .intro__bottom-span--1 {
    align-self: self-start;
    margin-left:  -20px;

    @media (max-width: 1199.98px){
      align-self: center;;
    }

    @media (max-width:toEm($mobile)){
      align-self: self-start;
      margin: 0;
    }
  }

  .intro__bottom-span--2 {
    align-self: self-end;
    // margin-right: 50px;
    padding-right: 50px;

    @media (max-width: 1199.98px){
      align-self: center;;
    }

    @media (max-width:toEm($tablet)){
      padding-right: 0;
    }

    @media (max-width:toEm($mobile)){
      align-self: self-end;
      padding-right: 20px;
    }
  }
}

.intro__bottom-item--2 {
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  @media (max-width:toEm($tablet)){
    width: 100%;
    padding: 25px 10px 10px;
  }
}

.intro__bottom-wrapper {
  width: 100%;
}

.item-descr {
 display: grid;
 grid-template-columns: 1fr 30px 1fr;
//  gap: 10px; 
 align-items: center;
 justify-items: center;
 width: 100%;
 height: 100%;

 @media (max-width:toEm($mobile)){
    grid-template-columns: 1fr 15px 1fr;
    // gap: 6px;
  }
}

.item-descr__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    max-width: 100%;
    height: 100%;
    max-height: 103px;
  }
}

.item-descr__price {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

.item-descr__price--new {
  // line-height: 100%;

  strong {
    white-space: nowrap;
    font-weight: 700;
    font-family: "a_RubricaXtCn";

    @include adaptiveValue("font-size", 55, 40, 0, 1199.98, 575.98);
  }

  span {
    margin-left: 8px;

    @include adaptiveValue("font-size", 30, 16, 0, 1199.98, 575.98);
  }

}

.item-descr__price--old {
  margin-left: 10px;
  color: #868282;
  font-size: 14px;

  strong {
    white-space: nowrap;
    font-family: "a_RubricaXtCn";
     text-decoration: line-through;
    text-decoration-thickness: 1.5px;
    font-weight: 500;

    @include adaptiveValue("font-size", 27, 14, 0, 1199.98, 575.98);
  }

  span {
    margin-left: 8px;

    @include adaptiveValue("font-size", 20, 14, 0, 1199.98, 767.98);
  }
}

.item-descr__text {
  color: #777777;
  font-size: 12px;
  font-weight: 500;

  @media (max-width:toEm($mobile)){
    font-size: 10px; 
  }

  @media (max-width:toEm($mobileSmall)){
    font-size: 7px; 
  }
}

.item-descr__center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-descr__center--separator {
  height: 100%;
  margin: 0 auto;
  display: block;
}

.item-descr__right {
  display: grid;
  grid-template-columns: 35px 1fr 60px;
  gap: 8px;
  align-items: center;
  height: 100%;

  @media (max-width:toEm($mobile)){
   grid-template-columns: 35px 1fr 45px;  
  }

  @media (max-width: 575.98px){
   grid-template-columns: 20px 1fr 45px;  
  }

  @media (max-width:toEm($mobileSmall)){
   grid-template-columns: 20px 1fr 35px; 
   gap: 5px; 
  }
}


.item-descr__right-icon {
  width: 35px;
  height: 35px;
  flex: 0 0 35px;

  @media (max-width: 575.98px){
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
  }
}

.item-descr__credit {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media (max-width:toEm($mobile)){
    font-size: 10px; 
  }
}

.item-descr__credit-top {
  font-family: "a_RubricaXtCn";
  font-size: 22px;
  font-weight: 700;

    @media (max-width: 575.98px){
      font-size: 20px;
    }

    @media (max-width:toEm($mobileSmall)){
      font-size: 16px; 
    }
  
  span {
    font-family: "Montserrat", serif;
    font-size: 14px;
    margin-left: 8px;
    font-weight: 500;

    @media (max-width: 575.98px){
      font-size: 10px;
    }
  }
}

.item-descr__credit-long {
  font-family: "Montserrat" serif;
  font-size: 14px;

  @media (max-width:toEm($mobile)){
    font-size: 10px; 
  }

  @media (max-width:toEm($mobileSmall)){
    font-size: 8px;
  }
}

.item-descr__credit-rules {
  font-size: 12px;
  color: #878480;
  font-weight: 500;

  @media (max-width:toEm($mobile)){
    font-size: 10px; 
  }

  @media (max-width:toEm($mobileSmall)){
    font-size: 7px; 
  }
}

.item-descr__credit-link {
  font-size: 12px;
  color: #878480;
  font-weight: 500;
  text-decoration: underline;

  @media (max-width:toEm($mobile)){
    font-size: 10px; 
  }

  @media (max-width:toEm($mobileSmall)){
    font-size: 7px; 
  }
}
// -- /intro --------------------------------------------------------------------------------



// -- category__block ------------------------------------------------------------------------

.category__block {
  padding: 35px 0;
}

.category__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

   @media (max-width: 1199.98px){
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.category__item {
  display: grid;
  grid-template-columns: 35% 65%;
  width: 100%;
  max-width: 385px;
  height: 70px;
  border-radius: 6px;
  background-image: url(../../../assets/img/category/btn-not-active-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .1s ease-in-out;
  overflow: hidden;

  @media (max-width: 840px){
    max-width: 100%;
  }
  
  &:hover {
    background-image: url(../../../assets/img/category/btn-active-bg.jpg);
    transition: all .1s ease-in-out;
  }
}

.category__item-picture {
  position: relative;
  width: 100%;
  height: 100%;
}

.category__item-img {
  max-width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 135px;
}

.category__item-text {
  color: #fff;
  font-size: 19px;
  padding: 12px 6px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.category__item-title {
  font-family: "a_RubricaXtCn";
  font-size: 27px;
}

.category__item-descr {
  font-size: 14px;
  position: relative;
  padding-right: 20px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 12px;
    height: 12px;
    background-image: url(../../../assets/img/icons/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

// -- /category__block ------------------------------------------------------------------------


// -- product ---------------------------------------------------------------------------------
.product__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 35px 0;
  margin-bottom: 20px;

  @media (max-width:toEm($mobile)){
    display: flex;
    flex-direction: column; 
    padding: 15px 0 0;
    gap: 30px;
  }
}

.product__bottom-item {
  max-width: 385px;
  display: flex;
  align-items: center;

  @include adaptiveValue("gap", 20, 12, 0, 1440, 991.98);
}

.product__bottom-media {
  overflow: hidden;
  border-radius: 10px;
  width: 155px;
  flex: 0 0 155px;
  height: 87px;
  position: relative;
  transition: transform .2s ease-in-out;
  overflow: hidden;
  
  &:hover img {
    transform: scale(1.1);
    transition: transform .2s ease-in-out;
  }

  @media (max-width: 1199.98px){
    width: 105px;
    flex: 0 0 105px;
    height: 60px; 
  }
 
  @media (max-width: 767.98px){
    width: 155px;
    flex: 0 0 155px;
    height: 87px; 
  }

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform .2s ease-in-out;
    transform: scale(1);
  }
}

.product__bottom-text {
  line-height: 120%;
  font-weight: 500;
  font-style: italic;

  @include adaptiveValue("font-size", 20, 12, 0, 1440, 767.98);

  @media (max-width:toEm($mobile)){
    font-size: 20px; 
  }
}
// -- /product --------------------------------------------------------------------------------


// -- slider ----------------------------------------------------------------------
.main__content {
  display: grid;
  //  grid-template-columns: minmax(500px, 766px) minmax(300px, 384px);
  //  grid-template-columns: minmax(390px, 712px) minmax(274px, 580px);
  grid-template-columns: 1fr 1fr;

  @include adaptiveValue("gap", 45, 20, 0, 1440, 1199.98);

  @media (max-width:toEm($tablet)){
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.main__media {
  position: relative;
  min-width: 0;
}

.main-swiper {
	height: 400px;
	margin-bottom: 20px;
	min-width: 0;
	position: relative;

  @media (max-width:toEm($mobile)){
    height: 350px;
  }

  @media (max-width:toEm($mobileSmall)){
    height: 280px; 
    margin: 0 -10px 20px;
  }
}

.main-swiper__gallery__image {
	width: 100%;
	height: 100%;
}

.main-swiper__img {
	width: 100%;
	height: 100%;
	max-width: 100%;
	object-fit: cover;
}

// -------------------------------------------------------------------------------
.thumbs-swiper {
	min-width: 0;
  padding: 10px 0;
}

.thumbs-swiper .swiper-slide {
	height: 60px;
	// opacity: 0.6;
	cursor: pointer;
}

.thumbs-swiper .swiper-slide-thumb-active {
	// opacity: 1;
  border: 1px solid #333;
}

.thumbs-swiper__slide {
  height: 60px!important;
  width: 60px!important;
}

.thumbs-swiper__img {
	width: 100%;
	height: 100%;
	max-width: 100%;
	object-fit: cover;	
}

.thumbs-swiper__overlay {
	position: relative;
	display: flex;
  justify-content: center;
  max-width: 450px;
  margin: 0 auto;
}

.thumbs-swiper__prev,
.thumbs-swiper__next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
	width: 30px;

  @media (max-width: 575.98px){
    position: absolute;
    z-index: 1;
  }
}

.thumbs-swiper__prev {
	margin-right: 30px;
	background-image: url(../../../assets/img/icons/slider-arrow--prev.svg);

  @media (max-width: 991.98px){
	  margin-right: 20px;
  }

	@media (max-width: 575.98px){
    z-index: 9999;
    left: 15px;
    top: 40%;
    transform: translateY(-50%);
    position: absolute;
    width: 30px;
    height: 30px;
	}
}

.thumbs-swiper__next {
	background-image: url(../../../assets/img/icons/slider-arrow--next.svg);

	@media (max-width: 575.98px){
    z-index: 9999;
    right: 15px;
    top: 40%;
    transform: translateY(-50%);
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: auto;
	}
}
// ----------------------------------------------------------------------------------


.product__details-top {
  display: flex;
  width: 100%;
  gap: 15px;
  margin-bottom: 5px;
}

.product__subtitle {
  font-weight: 500;
  @include adaptiveValue("font-size", 20, 15, 0, 1440, 575.98);
}

.product__title {
  font-family: "a_RubricaXtCn";
  font-weight: 600;
  line-height: 120%;

  @include adaptiveValue("font-size", 60, 40, 0, 1440, 575.98);
}

.product__details-decor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  background-color: #EDEDED;
  width: 54px;
  height: 54px;
  flex: 0 0 54px;
  margin-left: auto;

  img {
    width: 100%;
    height: 100%;
  }
}

.product__details-main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}

.product__details-text {
  font-size: 17px;
  font-weight: 500;
  line-height: 120%;

  @media (max-width:toEm($mobile)){
    font-size: 15px; 
  }
}

.product__details-check {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
  }

  span {
    font-weight: 700;
  }
}

.product__details-download {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  
  img {
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
  }

    span {
    font-weight: 500;
    text-transform: uppercase;
  }
}

.product__details-separator {
  height: 2px;
  width: 100%;
  background-color: #E0E0E0;
  margin-bottom: 25px;

  @media (max-width:toEm($tablet)) {
    margin-bottom: 15px; 
  }
}

.product__details-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-top: 25px;
  border-top: 2px solid #E0E0E0;

  @media (max-width:toEm($tablet)){
    margin-bottom: 40px;
  }

  @media (max-width: 575.98px){
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.product__details-bottom-item {
  max-width: 160px;
  display: flex;
  align-items: center;
  gap: 10px;

  @media (max-width:toEm($tablet)){
    margin: 0 auto;
  }

  @media (max-width: 575.98px){
    max-width: 100%;
  }

  @media (max-width:toEm($mobileSmall)){
     flex-direction: column; 
  }

  img {
    width: 45px;
    height: 45px;
    flex: 0 0 45px;
  }
}

.product__details-bottom-text {
  font-weight: 600;
  font-size: 13px;
  line-height: 120%;

  @media (max-width: 575.98px){
    font-size: 16px;
  }
}
// -------------------------------------------------------------

.product__block {
  border-radius: 10px;
  padding: 0 20px;

  @media (max-width: 1199.98px){
    padding: 25px 10px;  
  }

  @media (max-width:toEm($mobile)){
    padding: 15px 10px 40px;   
  }

  @media (max-width: 575.98px){
    border-radius: 0;
    margin: 0 -10px;
  }
}

.product__block-form {
  margin-bottom: 0;
  background-color: #F2F2F2;
  width: 100%;
}

.product__block-wapper {
  display: none;
}

.product__block-form--info {
  display: grid;
  grid-template-columns: 1fr 277px;
  width: 100%;
  align-items: center;
  gap: 15px;
  position: absolute;

  @media (max-width:toEm($mobile)){
    display: flex; 
    text-align: center;
  }
}

.product__block-form--picture {
  width: 277px;
  flex: 0 0 277px;
  position: relative;
  transform: translateX(120%);
  opacity: 0;
  visibility: hidden;
  transition: all .3s linear;
  width: 100%;
  height: 100%;
  
  @media (max-width:toEm($mobile)){
    display: none; 
  }

  img {
    position: absolute;
    bottom: 0;
    right: 0;   
    
    @media (max-width: 1199.98px){
      bottom: -25px;
    }
  }
}

.product__block-form--text {
  font-family: "a_RubricaXtCn";
  transform: translateY(-120%);
  opacity: 0;
  visibility: hidden;
  transition: all .3s linear;

  @media (min-width: 1200px){
    padding: 20px 0;
  }

  @include adaptiveValue("font-size", 62, 43, 0, 1440, 479.98);
}

.product__bottom-row {
  min-height: 103px;  
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0;
  gap: 20px;
  position: relative;

  @media (max-width: 1199.98px){
    grid-template-columns: 1fr 40%;
  }

  @media (max-width:toEm($tablet)){
    display: flex;
    flex-direction: column;
  }

  @media (max-width:toEm($mobile)){
    gap: 25px; 
  }
}

.product__form-row {
  @media (max-width:toEm($tablet)){
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width:toEm($mobile)){
    display: flex;
    flex-direction: column;
    gap: 15px; 
  }
}

.product__bottom-item--2 {
  padding: 10px 0;
  @media (max-width: 575.98px){
    padding: 0;
  }
}

.product__block.product__block--fixed .product__bottom-item--2,
.product__block.product__block--fixed .product__block-form {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.product__block.product__block--fixed .product__bottom-row {
 gap: 0;
 display: flex;
}

.product__block.product__block--fixed .product__block-form--info {
  position: static;
}

.product__block.product__block--fixed .product__block-form--text {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: all .3s linear;
}

.product__block.product__block--fixed .product__block-form--picture {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  transition: all .3s linear;
}