.page {

}

.intro {
  background-image: url(../../../assets/img/intro/intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 1032px;
  max-height: 100dvh;
  padding-top: 78px;
}

.intro__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 100%;
}

.intro__main {

}

.intro__title {
  font-family: "arubricacnbolditalic";
  color: #fff;
  line-height: 1.1;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  @include adaptiveValue("font-size", 75, 30, 0, 1920, 479.98);

  .intro__title-span {
    background-color: #FF0000;
    width: fit-content;
    transform: skew(-8deg, 0deg);
    position: relative;
    white-space: nowrap;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 8px;
      transform: skew(8deg, 0deg);
      width: 100%; 
      height: 100%; 
      background-color: #FF0000;
      z-index: -1;
    }
  }

  .intro__title-span--1 {
    padding: 20px 20px 10px 10px;
  }
  
  .intro__title-span--2 {
    padding: 10px 20px 20px 10px;
  }


}

.intro__descr {
  display: flex;
  align-items: center;
  margin: 80px 0 30px;
}

.intro__descr-img-wrap {
  width: 78px;
  height: 78px;
  flex: 0 0 78px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 1;
}

.intro__descr-img {
  width: 63px;
  height: 63px;
  flex: 0 0 63px;
}

.intro__descr-text {
  background-color: #F4F4F4;
  padding: 10px 20px 10px 30px;
  transform: skew(-8deg, 0deg);
  margin-left:  -20px;
  font-family: "arubricacnbolditalic";
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.2;
}

.ba {
  position: relative;
  --pos: 50%;          
  --rail: 2px;         
  --knob: 50px;         
  --hitpad: 20px;       

  width: min(615px, 100%);
  height: auto;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  // margin-top: -75px;
  margin-top: -50px;
}

.ba__layer {
  position: absolute;
  inset: 0;
  background: transparent;
  will-change: clip-path;
}

.ba__layer > img {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
  max-height: none !important;
  object-fit: contain;        
  object-position: center;
  display: block;
  pointer-events: none;       
  background: transparent;    
  transform: none !important; 
}

.ba__layer--before {
  clip-path: inset(0 calc(100% - var(--pos)) 0 0);
}

.ba__layer--after {
  clip-path: inset(0 0 0 var(--pos));
}

.ba__handle {
  position: absolute;
  inset-block: 0;
  inset-inline-start: var(--pos);
  z-index: 10;
  height: 75%;
  bottom: 75px;
  transform: translate-x(-50%);
  margin-top: auto;
  width: var(--rail);
  background-color: #fff;
  cursor: ew-resize;
  touch-action: none;
  outline: none; 
}

.ba__handle::before {
  content: "";
  position: absolute;
  inset: 0 calc(-1 * var(--hitpad));
}

.ba__handle::after {
  content: "";
  position: absolute;
  top: 100%; left: 50%;
  transform: translate(-50%, -90%);
  width: var(--knob);
  height: var(--knob);
  border-radius: 50%;
  background: transparent center / 46px 46px no-repeat;
  background-image: url('../../../assets/img/intro/icon-sun-snow.png');
}

.ba__handle:focus-visible::after {
  box-shadow:
    0 0 0 3px rgba(255,255,255,.9),
    0 0 0 6px rgba(0,0,0,.25);
}

.ba__bottom {
  position: absolute;
  bottom: 70px;
  // width: 90%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px) saturate(150%);
  -webkit-backdrop-filter: blur(25px) saturate(150%);
  border: 1px solid #fff;
 
  img {
    width: 30px;
    height: 30px;
    margin: 0 50px;
    z-index: -1;
  }
}


// -----------------------------------------------------------------

.intro__form {
}
.intro__form-body {
}
.intro__form-row {
}
.intro__form-input {
}
.intro__form-btn {
}
.checkbox {
}
.checkbox__input {
}
.checkbox__text {
}
