<script type="module" src="@components/pages/index/index.js"></script>
<link rel="stylesheet" href="@components/pages/index/index.scss">

<main class="page page--index">
	<section class="intro">
		<div class="intro__container intro__container--full">
			<div class="intro__inner">
				<div class="intro__main">
					<div class="intro__descr">
						<div class="intro__descr-img-wrap">
							<img class="intro__descr-img" src="@img/intro/icon-sun-snow.png" alt="Img">
						</div>
						<p class="intro__descr-text">
							Легкая трансформация из летней <br> в зимнюю модель и обратно
						</p>
					</div>

					<h1 class="intro__title">
						<span class="intro__title-span intro__title-span--1">ИДЕАЛЬНЫЙ ПОДАРОК</span> 
						<span class="intro__title-span intro__title-span--2">К НОВОМУ ГОДУ</span> 
					</h1>

					<div class="ba ba-slider" data-ba>
						<div class="ba__layer ba__layer--before">
							<img src="@img/intro/intro-after.png" alt="After">
						</div>
						
						<div class="ba__layer ba__layer--after">
							<img src="@img/intro/intro-before.png" alt="Before">
						</div>

						<div class="ba__handle" role="slider" tabindex="0" aria-label="Before/After" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50"></div>
						
						<div class="ba__bottom">
							<img src="@img/icons/arrow-prev.svg" alt="Image">
							<img src="@img/icons/arrow-next.svg" alt="Image">
						</div>
					</div>
				</div>

				<div class="intro__form" data-fls-dynamic=".intro__bottom-wrapper, 991.98">
					<div class="intro__form-info">
						Спасибо! Мы свяжемся с вами в ближайшее время.
					</div>
					<form class="intro__form-body form-body" action="#">
						<div class="intro__form-row form-row">
							<input class="intro__form-input form-input" type="number" data-fls-form-validatenow placeholder="Ваш телефон">
							<button class="btn intro__form-btn" type="submit">
								<span>
									Зафиксировать цену <br> и получить скидку 1000&nbsp;₽
								</span>
							</button>
						</div>

						<label data-fls-checkbox class="checkbox intro__checkbox">
							<input class="checkbox__input" data-error="error" type="checkbox" value="1" name="form[]">
							<span class="checkbox__text">
								<p>
									СОГЛАСЕН(А) НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ, ПОЛУЧЕНИЕ РАССЫЛОК, А ТАКЖЕ С <br> <span>ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ</span> и <span>договором оферты</span>
								</p>
							</span>
						</label>
					</form>			
				</div>
			</div>
		</div>
	</section>

	<div class="intro__bottom">
		<div class="intro-call">
			<div class="intro-call__container">
				<button class="intro-call__btn">ПЕРЕЗВОНИТЕ МНЕ</button>
			</div>
		</div>

		<div class="intro__container intro-bottom__container">
			<div class="intro__bottom-item intro__bottom-item--1">
				<picture class="intro__bottom-item--bg">
					<source media="(min-width: 1200px)" srcset="@img/intro/intro-bottom-bg.png">
					<source media="(min-width: 375px)" srcset="@img/intro/intro-bottom-bg--mobile.png">
					<img  src="@img/intro/intro-bottom-bg.png">
				</picture>

				<div class="intro__bottom-item-img">
					<img class="intro__bottom-item--poster" src="@img/intro/intro-bottom-img.png" alt="Image">
				</div>

				<div class="intro__bottom-item-text">
				<span class="intro__bottom-span intro__bottom-span--1">Черная</span>
				<span class="intro__bottom-span intro__bottom-span--2">Пятница</span>
				</div>
			</div>

			<div class="intro__bottom-item intro__bottom-item--2">
				<div class="intro__bottom-wrapper">
					<div class="intro__bottom-desc item-descr">
						<div class="item-descr__left">
							<div class="item-descr__price">
								<div class="item-descr__price--new"><strong>89 990</strong><span>₽</span></div>
								<div class="item-descr__price--old"><strong>143 000</strong><span>₽</span></div>
							</div>
							<p class="item-descr__text">
								+ 29990 зимний комплект (гусеницы+лыжи)
							</p>
						</div>

						<div class="item-descr__center">
							<img class="item-descr__center--separator" src="@img/intro/separator.svg" alt="Image">
						</div>

						<div class="item-descr__right">
							<img class="item-descr__right-icon" src="@img/intro/smile.svg" alt="Image">
							<div class="item-descr__credit">
								<p class="item-descr__credit-top">
									12 х 1 448&nbsp;₽<span>в сплит</span> 
								</p>

								<p class="item-descr__credit-rules">На 12 месяцев без переплаты</p>

								<a class="item-descr__credit-link" href="#">подробнее об условиях</a>
							</div>
							<div class="item-descr__credit-long">12 мес ></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="category__block">
		<div class="category__container">
			<div class="category__inner">
				<a class="category__item" href="#">
					<div class="category__item-picture">
						<img class="category__item-img" src="@img/category/btn-img-1.png" alt="Image">
					</div>

					<div class="category__item-text">
						<h3 class="category__item-title">
							Детские квадроциклы
						</h3>

						<p class="category__item-descr">
							(на рост до 130см)
						</p>
					</div>
				</a>

				<a class="category__item" href="#">
					<div class="category__item-picture">
						<img class="category__item-img" src="@img/category/btn-img-2.png" alt="Image">
					</div>

					<div class="category__item-text">
						<h3 class="category__item-title">
							Подростковые квадроциклы 
						</h3>

						<p class="category__item-descr">
							(на рост от 130см)
						</p>
					</div>
				</a>

				<a class="category__item" href="#">
					<div class="category__item-picture">
						<img class="category__item-img" src="@img/category/btn-img-3.png" alt="Image">
					</div>

					<div class="category__item-text">
						<h3 class="category__item-title">
							Питбайки для подростков
						</h3>

						<p class="category__item-descr">
							
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>

	<section class="product">
		<div class="product__container">
			<div class="product__inner product__inner--1">
				<div class="product__main">
					<div class="main__overlay">
						<div class="main__content">
							<div class="main__media">
								<div data-fls-slider class="swiper main-swiper">
									<div class="swiper-wrapper main-swiper__wrapper gallery" data-fls-gallery>
										<div class="swiper-slide main-swiper__slide">
											<a class="main-swiper__gallery__image gallery__image" href="@img/product/media-2--big.jpg">
												<img class="main-swiper__img gallery__preview" src="@img/product/media-2--big.jpg" alt="Img">
											</a>
										</div>

										<div class="swiper-slide main-swiper__slide">
											<a class="main-swiper__gallery__image gallery__image" href="@img/product/media-2--big.jpg">
												<img class="main-swiper__img gallery__preview" src="@img/product/media-2--big.jpg" alt="Img">
											</a>
										</div>

										<div class="swiper-slide main-swiper__slide">
											<a class="main-swiper__gallery__image gallery__image" href="@img/product/media-2--big.jpg">
												<img class="main-swiper__img gallery__preview" src="@img/product/media-2--big.jpg" alt="Img">
											</a>
										</div>

										<div class="swiper-slide main-swiper__slide">
											<a class="main-swiper__gallery__image gallery__image" href="@img/product/media-2--big.jpg">
												<img class="main-swiper__img gallery__preview" src="@img/product/media-2--big.jpg" alt="Img">
											</a>
										</div>

									</div>
								</div>
								<!-- Слайдер мініатюр -->
								<div class="thumbs-swiper__overlay">
									<button class="thumbs-swiper__prev" data-fls-dynamic=".main__media, 575.98"></button>

									<div data-fls-slider class="swiper thumbs-swiper">
										<div class="thumbs-swiper__wrapper swiper-wrapper">
											<div class="thumbs-swiper__slide swiper-slide">
												<img class="thumbs-swiper__img" src="@img/product/media-2--big.jpg" alt="Img">
											</div>
			
											<div class="thumbs-swiper__slide swiper-slide">
												<img class="thumbs-swiper__img" src="@img/product/media-2--big.jpg" alt="Img">
											</div>
											
											<div class="thumbs-swiper__slide swiper-slide">
												<img class="thumbs-swiper__img" src="@img/product/media-2--big.jpg" alt="Img">
											</div>
			
											<div class="thumbs-swiper__slide swiper-slide">
												<img class="thumbs-swiper__img" src="@img/product/media-2--big.jpg" alt="Img">
											</div>
										</div>
									</div>

									<button class="thumbs-swiper__next" data-fls-dynamic=".main__media, 575.98"></button>
								</div>	
							</div>

							<div class="main__details main-details">
								<div class="product__details-top">
									<div class="product__details-head">
										<p class="product__subtitle">
											Детский электрический снегоход
										</p>
										<h2 class="product__title">
											GEKKON E1300 SNOW
										</h2>
									</div>

									<div class="product__details-decor">
										<img src="../../../assets/img/intro/icon-sun-snow.png" alt="Img">
									</div>
								</div>

								<div class="product__details-main">
									<p class="product__details-text">
										Электрический снегоход GEKKON E1300 SNOW — это снегоход на гусеничном ходу, построенный на базе квадроцикла  ATV MOTAX Gekkon 1300W с возможностью переоборудования в полноценный квадроцикл на летний сезон. Он отлично подойдёт для детей в возрасте от 3 до 9 лет.
									</p>
									<p class="product__details-text">
										Особое внимание мы уделяем детской технике, делая упор на безопасность, комфорт и положительные эмоции юных райдеров.									
									</p>
								</div>

								<div class="product__details-check">
									<img src="@img/product/check.png" alt="Image">
									<span>
										Легкая трансформация из летней в зимнюю модель
									</span>
								</div>

								<div class="product__details-download">
									<img src="@img/product/pdf.png" alt="Image">
									<span>
										СКАЧАТЬ ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ
									</span>
								</div>

								<div class="product__details-bottom product__details-bottom--1" data-fls-dynamic=".product__inner--1, 992, 2">
									<div class="product__details-bottom-item">
										<img src="@img/product/delivery.png" alt="Image">
										<p class="product__details-bottom-text">
											Доставка по всей России
										</p>
									</div>

									<div class="product__details-bottom-item">
										<img src="@img/product/protect.png" alt="Image">
										<p class="product__details-bottom-text">
											Гарантия 1 год
										</p>
									</div>

									<div class="product__details-bottom-item">
										<img src="@img/product/key.png" alt="Image">
										<p class="product__details-bottom-text">
											Бесплатная сборка
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product__bottom" data-fls-dynamic=".main__content, 768, 1" data-fls-gallery>
					<div class="product__bottom-item">
						<a href="../../../assets/img/product/media-1--big.jpg" class="product__bottom-media gallery__image">
							<img alt="Обзор на GEKKON E1300 SNOW" src="../../../assets/img/product/media-1.jpg" class="gallery__preview">
						</a>

						<div class="product__bottom-text">
							Обзор на GEKKON E1300 SNOW
						</div>
					</div>

					<div class="product__bottom-item">
						<a href="../../../assets/img/product/media-2--big.jpg" class="product__bottom-media gallery__image">
							<img alt="Сборка GEKKON E1300 SNOW" src="../../../assets/img/product/media-1.jpg" class="gallery__preview">
						</a>

						<div class="product__bottom-text">
							Сборка GEKKON E1300 SNOW
						</div>
					</div>
					
					<div class="product__bottom-item">
						<a href="../../../assets/img/product/media-3--big.jpg" class="product__bottom-media gallery__image">
							<img alt="Трансформация GEKKON E1300 SNOW" src="../../../assets/img/product/media-1.jpg" class="gallery__preview">
						</a>

						<div class="product__bottom-text">
							Трансформация GEKKON E1300 SNOW
						</div>
					</div>
				</div>

				<div class="product__block intro__bottom">
					<div class="product__bottom-row">
						<div class="product__block-form--info">
							<p class="product__block-form--text">
								Спасибо! Мы свяжемся с вами в ближайшее время.
							</p>

							<div class="product__block-form--picture">
								<img src="@img/product/info-deco.png" alt="Image">
							</div>
						</div>
					
						<div class="intro__bottom-item intro__bottom-item--2 product__bottom-item--2">
							<div class="intro__bottom-wrapper">
								<div class="intro__bottom-desc item-descr">
									<div class="item-descr__left">
										<div class="item-descr__price">
											<div class="item-descr__price--new"><strong>89 990</strong><span>₽</span></div>
											<div class="item-descr__price--old"><strong>143 000</strong><span>₽</span></div>
										</div>
										<p class="item-descr__text">
											+ 29990 зимний комплект (гусеницы+лыжи)
										</p>
									</div>

									<div class="item-descr__center">
										<img class="item-descr__center--separator" src="@img/intro/separator.svg" alt="Image">
									</div>

									<div class="item-descr__right">
										<img class="item-descr__right-icon" src="@img/intro/smile.svg" alt="Image">
										<div class="item-descr__credit">
											<p class="item-descr__credit-top">
												12 х 1 448&nbsp;₽<span>в сплит</span> 
											</p>

											<p class="item-descr__credit-rules">На 12 месяцев без переплаты</p>

											<a class="item-descr__credit-link" href="#">подробнее об условиях</a>
										</div>
										<div class="item-descr__credit-long">12 мес ></div>
									</div>
								</div>
							</div>
						</div>

						<div class="product__block-form">
							<form class="intro__form-body form-body product__form-body" action="#">
								<div class="intro__form-row form-row product__form-row">
									<input class="intro__form-input form-input product__form-input" type="number" data-fls-form-validatenow placeholder="Ваш телефон">
									<button class="btn intro__form-btn product__form-btn" type="submit">
										<span>
											Зафиксировать цену <br> и получить скидку 1000&nbsp;₽
										</span>
									</button>
								</div>

								<label data-fls-checkbox class="checkbox intro__checkbox">
									<input class="checkbox__input" data-error="error" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text">
										<p>
											СОГЛАСЕН(А) НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ, ПОЛУЧЕНИЕ РАССЫЛОК, А ТАКЖЕ С <br> <span>ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ</span> и <span>договором оферты</span>
										</p>
									</span>
								</label>
							</form>			
						</div>
					</div>
				</div>
			</div>

			<hr class="product-separator">

			<div class="product__inner product__inner--2">
				<div class="product__main">
					<div class="main__overlay">
						<div class="main__content">
							<div class="main__media">
								<div data-fls-slider class="swiper main-swiper-2">
									<div class="swiper-wrapper main-swiper__wrapper gallery" data-fls-gallery>
										<div class="swiper-slide main-swiper__slide">
											<a class="main-swiper__gallery__image gallery__image" href="@img/product/media-2--big.jpg">
												<img class="main-swiper__img gallery__preview" src="@img/product/media-2--big.jpg" alt="Img">
											</a>
										</div>

										<div class="swiper-slide main-swiper__slide">
											<a class="main-swiper__gallery__image gallery__image" href="@img/product/media-2--big.jpg">
												<img class="main-swiper__img gallery__preview" src="@img/product/media-2--big.jpg" alt="Img">
											</a>
										</div>

										<div class="swiper-slide main-swiper__slide">
											<a class="main-swiper__gallery__image gallery__image" href="@img/product/media-2--big.jpg">
												<img class="main-swiper__img gallery__preview" src="@img/product/media-2--big.jpg" alt="Img">
											</a>
										</div>

										<div class="swiper-slide main-swiper__slide">
											<a class="main-swiper__gallery__image gallery__image" href="@img/product/media-2--big.jpg">
												<img class="main-swiper__img gallery__preview" src="@img/product/media-2--big.jpg" alt="Img">
											</a>
										</div>

									</div>
								</div>
								<!-- Слайдер мініатюр -->
								<div class="thumbs-swiper__overlay">
									<button class="thumbs-swiper__prev-2" data-fls-dynamic=".main__media, 575.98"></button>

									<div data-fls-slider class="swiper thumbs-swiper thumbs-swiper-2">
										<div class="thumbs-swiper__wrapper swiper-wrapper">
											<div class="thumbs-swiper__slide swiper-slide">
												<img class="thumbs-swiper__img" src="@img/product/media-2--big.jpg" alt="Img">
											</div>
			
											<div class="thumbs-swiper__slide swiper-slide">
												<img class="thumbs-swiper__img" src="@img/product/media-2--big.jpg" alt="Img">
											</div>
											
											<div class="thumbs-swiper__slide swiper-slide">
												<img class="thumbs-swiper__img" src="@img/product/media-2--big.jpg" alt="Img">
											</div>
			
											<div class="thumbs-swiper__slide swiper-slide">
												<img class="thumbs-swiper__img" src="@img/product/media-2--big.jpg" alt="Img">
											</div>
										</div>
									</div>

									<button class="thumbs-swiper__next-2" data-fls-dynamic=".main__media, 575.98"></button>
								</div>	
							</div>

							<div class="main__details main-details">
								<div class="product__details-top">
									<div class="product__details-head">
										<p class="product__subtitle">
											Детский электрический снегоход
										</p>
										<h2 class="product__title">
											GEKKON E1300 SNOW
										</h2>
									</div>

									<div class="product__details-decor">
										<img src="../../../assets/img/intro/icon-sun-snow.png" alt="Img">
									</div>
								</div>

								<div class="product__details-main">
									<p class="product__details-text">
										Электрический снегоход GEKKON E1300 SNOW — это снегоход на гусеничном ходу, построенный на базе квадроцикла  ATV MOTAX Gekkon 1300W с возможностью переоборудования в полноценный квадроцикл на летний сезон. Он отлично подойдёт для детей в возрасте от 3 до 9 лет.
									</p>
									<p class="product__details-text">
										Особое внимание мы уделяем детской технике, делая упор на безопасность, комфорт и положительные эмоции юных райдеров.									
									</p>
								</div>

								<div class="product__details-check">
									<img src="@img/product/check.png" alt="Image">
									<span>
										Легкая трансформация из летней в зимнюю модель
									</span>
								</div>

								<div class="product__details-download">
									<img src="@img/product/pdf.png" alt="Image">
									<span>
										СКАЧАТЬ ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ
									</span>
								</div>

								<div class="product__details-bottom product__details-bottom--2" data-fls-dynamic=".product__inner--2, 992, 2">
									<div class="product__details-bottom-item">
										<img src="@img/product/delivery.png" alt="Image">
										<p class="product__details-bottom-text">
											Доставка по всей России
										</p>
									</div>

									<div class="product__details-bottom-item">
										<img src="@img/product/protect.png" alt="Image">
										<p class="product__details-bottom-text">
											Гарантия 1 год
										</p>
									</div>

									<div class="product__details-bottom-item">
										<img src="@img/product/key.png" alt="Image">
										<p class="product__details-bottom-text">
											Бесплатная сборка
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product__bottom" data-fls-dynamic=".main__content, 768, 1" data-fls-gallery>
					<div class="product__bottom-item">
						<a href="../../../assets/img/product/media-1--big.jpg" class="product__bottom-media gallery__image">
							<img alt="Обзор на GEKKON E1300 SNOW" src="../../../assets/img/product/media-1.jpg" class="gallery__preview">
						</a>

						<div class="product__bottom-text">
							Обзор на GEKKON E1300 SNOW
						</div>
					</div>

					<div class="product__bottom-item">
						<a href="../../../assets/img/product/media-2--big.jpg" class="product__bottom-media gallery__image">
							<img alt="Сборка GEKKON E1300 SNOW" src="../../../assets/img/product/media-1.jpg" class="gallery__preview">
						</a>

						<div class="product__bottom-text">
							Сборка GEKKON E1300 SNOW
						</div>
					</div>
					
					<div class="product__bottom-item">
						<a href="../../../assets/img/product/media-3--big.jpg" class="product__bottom-media gallery__image">
							<img alt="Трансформация GEKKON E1300 SNOW" src="../../../assets/img/product/media-1.jpg" class="gallery__preview">
						</a>

						<div class="product__bottom-text">
							Трансформация GEKKON E1300 SNOW
						</div>
					</div>
				</div>

				<div class="product__block intro__bottom">
					<div class="product__bottom-row">
						<div class="product__block-form--info">
							<p class="product__block-form--text">
								Спасибо! Мы свяжемся с вами в ближайшее время.
							</p>

							<div class="product__block-form--picture">
								<img src="@img/product/info-deco.png" alt="Image">
							</div>
						</div>
					
						<div class="intro__bottom-item intro__bottom-item--2 product__bottom-item--2">
							<div class="intro__bottom-wrapper">
								<div class="intro__bottom-desc item-descr">
									<div class="item-descr__left">
										<div class="item-descr__price">
											<div class="item-descr__price--new"><strong>89 990</strong><span>₽</span></div>
											<div class="item-descr__price--old"><strong>143 000</strong><span>₽</span></div>
										</div>
										<p class="item-descr__text">
											+ 29990 зимний комплект (гусеницы+лыжи)
										</p>
									</div>

									<div class="item-descr__center">
										<img class="item-descr__center--separator" src="@img/intro/separator.svg" alt="Image">
									</div>

									<div class="item-descr__right">
										<img class="item-descr__right-icon" src="@img/intro/smile.svg" alt="Image">
										<div class="item-descr__credit">
											<p class="item-descr__credit-top">
												12 х 1 448&nbsp;₽<span>в сплит</span> 
											</p>

											<p class="item-descr__credit-rules">На 12 месяцев без переплаты</p>

											<a class="item-descr__credit-link" href="#">подробнее об условиях</a>
										</div>
										<div class="item-descr__credit-long">12 мес ></div>
									</div>
								</div>
							</div>
						</div>

						<div class="product__block-form">
							<form class="intro__form-body form-body product__form-body" action="#">
								<div class="intro__form-row form-row product__form-row">
									<input class="intro__form-input form-input product__form-input" type="number" data-fls-form-validatenow placeholder="Ваш телефон">
									<button class="btn intro__form-btn product__form-btn" type="submit">
										<span>
											Зафиксировать цену <br> и получить скидку 1000&nbsp;₽
										</span>
									</button>
								</div>

								<label data-fls-checkbox class="checkbox intro__checkbox">
									<input class="checkbox__input" data-error="error" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text">
										<p>
											СОГЛАСЕН(А) НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ, ПОЛУЧЕНИЕ РАССЫЛОК, А ТАКЖЕ С <br> <span>ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ</span> и <span>договором оферты</span>
										</p>
									</span>
								</label>
							</form>			
						</div>
					</div>
				</div>
			</div>

			<hr class="product-separator">

			<div class="product__inner product__inner--3">
				<div class="product__main">
					<div class="main__overlay">
						<div class="main__content">
							<div class="main__media">
								<div data-fls-slider class="swiper main-swiper-2">
									<div class="swiper-wrapper main-swiper__wrapper gallery" data-fls-gallery>
										<div class="swiper-slide main-swiper__slide">
											<a class="main-swiper__gallery__image gallery__image" href="@img/product/media-2--big.jpg">
												<img class="main-swiper__img gallery__preview" src="@img/product/media-2--big.jpg" alt="Img">
											</a>
										</div>

										<div class="swiper-slide main-swiper__slide">
											<a class="main-swiper__gallery__image gallery__image" href="@img/product/media-2--big.jpg">
												<img class="main-swiper__img gallery__preview" src="@img/product/media-2--big.jpg" alt="Img">
											</a>
										</div>

										<div class="swiper-slide main-swiper__slide">
											<a class="main-swiper__gallery__image gallery__image" href="@img/product/media-2--big.jpg">
												<img class="main-swiper__img gallery__preview" src="@img/product/media-2--big.jpg" alt="Img">
											</a>
										</div>

										<div class="swiper-slide main-swiper__slide">
											<a class="main-swiper__gallery__image gallery__image" href="@img/product/media-2--big.jpg">
												<img class="main-swiper__img gallery__preview" src="@img/product/media-2--big.jpg" alt="Img">
											</a>
										</div>

									</div>
								</div>

								<div class="thumbs-swiper__overlay">
									<button class="thumbs-swiper__prev-3" data-fls-dynamic=".main__media, 575.98"></button>

									<div data-fls-slider class="swiper thumbs-swiper thumbs-swiper-3">
										<div class="thumbs-swiper__wrapper swiper-wrapper">
											<div class="thumbs-swiper__slide swiper-slide">
												<img class="thumbs-swiper__img" src="@img/product/media-2--big.jpg" alt="Img">
											</div>
			
											<div class="thumbs-swiper__slide swiper-slide">
												<img class="thumbs-swiper__img" src="@img/product/media-2--big.jpg" alt="Img">
											</div>
											
											<div class="thumbs-swiper__slide swiper-slide">
												<img class="thumbs-swiper__img" src="@img/product/media-2--big.jpg" alt="Img">
											</div>
			
											<div class="thumbs-swiper__slide swiper-slide">
												<img class="thumbs-swiper__img" src="@img/product/media-2--big.jpg" alt="Img">
											</div>
										</div>
									</div>

									<button class="thumbs-swiper__next-3" data-fls-dynamic=".main__media, 575.98"></button>
								</div>	
							</div>

							<div class="main__details main-details">
								<div class="product__details-top">
									<div class="product__details-head">
										<p class="product__subtitle">
											Детский электрический снегоход
										</p>
										<h2 class="product__title">
											GEKKON E1300 SNOW
										</h2>
									</div>

									<div class="product__details-decor">
										<img src="../../../assets/img/intro/icon-sun-snow.png" alt="Img">
									</div>
								</div>

								<div class="product__details-main">
									<p class="product__details-text">
										Электрический снегоход GEKKON E1300 SNOW — это снегоход на гусеничном ходу, построенный на базе квадроцикла  ATV MOTAX Gekkon 1300W с возможностью переоборудования в полноценный квадроцикл на летний сезон. Он отлично подойдёт для детей в возрасте от 3 до 9 лет.
									</p>
									<p class="product__details-text">
										Особое внимание мы уделяем детской технике, делая упор на безопасность, комфорт и положительные эмоции юных райдеров.									
									</p>
								</div>

								<div class="product__details-check">
									<img src="@img/product/check.png" alt="Image">
									<span>
										Легкая трансформация из летней в зимнюю модель
									</span>
								</div>

								<div class="product__details-download">
									<img src="@img/product/pdf.png" alt="Image">
									<span>
										СКАЧАТЬ ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ
									</span>
								</div>

								<div class="product__details-bottom product__details-bottom--3" data-fls-dynamic=".product__inner--3, 992, 2">
									<div class="product__details-bottom-item">
										<img src="@img/product/delivery.png" alt="Image">
										<p class="product__details-bottom-text">
											Доставка по всей России
										</p>
									</div>

									<div class="product__details-bottom-item">
										<img src="@img/product/protect.png" alt="Image">
										<p class="product__details-bottom-text">
											Гарантия 1 год
										</p>
									</div>

									<div class="product__details-bottom-item">
										<img src="@img/product/key.png" alt="Image">
										<p class="product__details-bottom-text">
											Бесплатная сборка
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product__bottom" data-fls-dynamic=".main__content, 768, 1" data-fls-gallery>
					<div class="product__bottom-item">
						<a href="../../../assets/img/product/media-1--big.jpg" class="product__bottom-media gallery__image">
							<img alt="Обзор на GEKKON E1300 SNOW" src="../../../assets/img/product/media-1.jpg" class="gallery__preview">
						</a>

						<div class="product__bottom-text">
							Обзор на GEKKON E1300 SNOW
						</div>
					</div>

					<div class="product__bottom-item">
						<a href="../../../assets/img/product/media-2--big.jpg" class="product__bottom-media gallery__image">
							<img alt="Сборка GEKKON E1300 SNOW" src="../../../assets/img/product/media-1.jpg" class="gallery__preview">
						</a>

						<div class="product__bottom-text">
							Сборка GEKKON E1300 SNOW
						</div>
					</div>
					
					<div class="product__bottom-item">
						<a href="../../../assets/img/product/media-3--big.jpg" class="product__bottom-media gallery__image">
							<img alt="Трансформация GEKKON E1300 SNOW" src="../../../assets/img/product/media-1.jpg" class="gallery__preview">
						</a>

						<div class="product__bottom-text">
							Трансформация GEKKON E1300 SNOW
						</div>
					</div>
				</div>

				<div class="product__block intro__bottom">
					<div class="product__bottom-row">
						<div class="product__block-form--info">
							<p class="product__block-form--text">
								Спасибо! Мы свяжемся с вами в ближайшее время.
							</p>

							<div class="product__block-form--picture">
								<img src="@img/product/info-deco.png" alt="Image">
							</div>
						</div>
					
						<div class="intro__bottom-item intro__bottom-item--2 product__bottom-item--2">
							<div class="intro__bottom-wrapper">
								<div class="intro__bottom-desc item-descr">
									<div class="item-descr__left">
										<div class="item-descr__price">
											<div class="item-descr__price--new"><strong>89 990</strong><span>₽</span></div>
											<div class="item-descr__price--old"><strong>143 000</strong><span>₽</span></div>
										</div>
										<p class="item-descr__text">
											+ 29990 зимний комплект (гусеницы+лыжи)
										</p>
									</div>

									<div class="item-descr__center">
										<img class="item-descr__center--separator" src="@img/intro/separator.svg" alt="Image">
									</div>

									<div class="item-descr__right">
										<img class="item-descr__right-icon" src="@img/intro/smile.svg" alt="Image">
										<div class="item-descr__credit">
											<p class="item-descr__credit-top">
												12 х 1 448&nbsp;₽<span>в сплит</span> 
											</p>

											<p class="item-descr__credit-rules">На 12 месяцев без переплаты</p>

											<a class="item-descr__credit-link" href="#">подробнее об условиях</a>
										</div>
										<div class="item-descr__credit-long">12 мес ></div>
									</div>
								</div>
							</div>
						</div>

						<div class="product__block-form">
							<form class="intro__form-body form-body product__form-body" action="#">
								<div class="intro__form-row form-row product__form-row">
									<input class="intro__form-input form-input product__form-input" type="number" data-fls-form-validatenow placeholder="Ваш телефон">
									<button class="btn intro__form-btn product__form-btn" type="submit">
										<span>
											Зафиксировать цену <br> и получить скидку 1000&nbsp;₽
										</span>
									</button>
								</div>

								<label data-fls-checkbox class="checkbox intro__checkbox">
									<input class="checkbox__input" data-error="error" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text">
										<p>
											СОГЛАСЕН(А) НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ, ПОЛУЧЕНИЕ РАССЫЛОК, А ТАКЖЕ С <br> <span>ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ</span> и <span>договором оферты</span>
										</p>
									</span>
								</label>
							</form>			
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="delivery__block">
		<div class="delivery__container">
			<div class="delivery__inner">
				<div class="delivery__left delivery__left--1">
					<img class="delivery__logo" src="@img/delivery/logo.svg" alt="Image">
				</div>

				<div class="delivery__content">
					<p class="delivery__text delivery__text--1" data-fls-dynamic=".delivery__left--1, 992, 1">
						<span>ПЭК</span>- исервисный оператор логистических услуг, эксперт в сфере комплексных решений и организации грузоперевозок на территории России и за рубежом.
					</p>

					<form class="delivery__form">
						<input class="delivery__input" type="text" placeholder="Адрес доставки">
						<button class="delivery__btn">Рассчитать</button>
					</form>

					<div class="delivery__price">
						Примерная стоимость: <span>5746 ₽</span>
					</div>
				</div>
			</div>
		</div>
	</div>


	<p>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam quae dolores eum rerum eaque soluta doloremque fuga aspernatur non culpa perferendis dicta, obcaecati ab corporis nisi delectus consequuntur sunt ipsum!
		Officia voluptas iste voluptatem pariatur incidunt rem culpa totam soluta, quas magnam. Amet deleniti consequatur quibusdam at suscipit. Aliquam quam fugit molestias quo veritatis suscipit quaerat repellat pariatur et dolore.
		Pariatur qui, ad facere laborum beatae aliquam voluptate molestias facilis voluptatem esse enim molestiae vel totam ipsa nobis at, porro culpa nihil quo repellat. Reiciendis animi quos tempora odio sunt?
		Enim eaque repellendus saepe ratione qui reprehenderit. Consectetur possimus a fugit consequatur! Numquam corrupti neque laboriosam, iusto commodi distinctio vel minima nesciunt sequi beatae saepe, nulla dolorem illo reprehenderit consequuntur.
		Nisi nam asperiores magnam voluptatum quidem doloribus expedita laudantium vitae laboriosam molestias? Voluptate alias repudiandae illum aliquid iure, ducimus optio eum esse ex sit cumque! Sapiente, consequuntur fuga? Enim, itaque?
		Maxime asperiores voluptatem earum iure deleniti doloremque amet animi, hic error excepturi dicta harum adipisci non, culpa, provident quidem? Repellendus laudantium iste hic fugit quod maiores in quos earum nemo!
		Excepturi sapiente maxime itaque deserunt magnam culpa possimus. Reiciendis iure consequuntur quasi modi delectus laborum? Possimus porro necessitatibus ut illum dolore obcaecati ex. Cum praesentium asperiores ullam velit quidem minus.
		Iste, nam? Doloribus dignissimos quos unde eaque, et at tempora sunt facilis, eum quia nesciunt repellendus voluptatem sed, ratione est voluptates fuga incidunt voluptas deserunt laborum? Ea facere magni tempora.
		Eligendi ipsa doloribus distinctio nulla cumque. Adipisci culpa aliquid esse perferendis, minima sequi sit delectus fugit mollitia. Repellat maxime qui, eveniet provident sed ipsam nostrum! Assumenda modi laudantium necessitatibus molestias!
		Quam similique consectetur expedita recusandae sapiente voluptas modi fugit, suscipit pariatur officiis ducimus natus, eos corporis laudantium temporibus veniam nemo molestias tenetur. Dolore enim ad laboriosam eaque debitis obcaecati eos.
		Itaque et deserunt sit iure aspernatur est veniam, ullam id ad repellat molestiae pariatur magni? Corporis porro, labore esse ullam velit rem quis quos nulla dolorem a, officiis atque architecto.
		Aspernatur magnam ad, soluta architecto impedit quidem eius delectus nesciunt beatae dolorum animi aliquid laudantium praesentium vero possimus. Quasi perferendis eius quam minima architecto cupiditate veritatis reprehenderit molestiae similique dolorem.
		Nemo eligendi corrupti aspernatur voluptatem ullam nisi, aliquid nobis natus perspiciatis culpa tenetur ipsum voluptates impedit nesciunt officia voluptatibus nam veritatis odio eos numquam. Laudantium amet assumenda incidunt atque voluptatibus.
		Laboriosam illo, veritatis possimus magni odio nulla, quaerat neque quae atque libero exercitationem fuga temporibus minima ipsum sunt ea iste repudiandae! Omnis porro qui magnam alias labore fugiat inventore nostrum.
		Quidem vero veniam tenetur totam illum error velit iure! Dignissimos fuga blanditiis optio recusandae quaerat corporis, quasi nulla facilis quam ut quae nostrum iure quidem neque ex minima, maxime suscipit!
		Asperiores recusandae sit eligendi perferendis deserunt at beatae. Repudiandae corporis modi delectus necessitatibus voluptatem consectetur deserunt sint vel dolor provident, quam et temporibus doloremque eum explicabo ea quas. Error, asperiores!
		Quod, facere! Deleniti, eveniet repudiandae labore odit possimus numquam dolorum atque eum, fuga earum cum beatae nisi vitae laboriosam. Magnam qui consectetur minima tenetur adipisci vel, quo impedit tempora. Illo.
		Eum cupiditate optio hic? Expedita ex aperiam corrupti doloremque odit ipsa quae, voluptatum facilis sequi quis tempore dolores deleniti hic accusantium officiis reiciendis, vel libero amet, eos quia vitae repudiandae.
		Cum fugiat eligendi aut dignissimos nostrum unde ratione expedita qui soluta doloribus, sit alias dolorem! Repellendus ducimus accusamus quod. Illo soluta deserunt neque totam nobis veritatis accusamus, delectus consectetur saepe.
		Aspernatur, doloribus ea ipsa iure nesciunt qui necessitatibus distinctio molestias recusandae, labore sunt dolor minus, rem obcaecati quis atque sint aliquid voluptatum laborum. Quaerat soluta, earum quae obcaecati corrupti quibusdam.
		Laborum, tempora. Minus, veniam! Dolores ea non qui eos exercitationem, molestias fugiat, rerum sed perspiciatis saepe magni fugit nesciunt debitis. Voluptatum dolor ratione corrupti aliquam deserunt est amet iusto commodi?
		Deleniti rem consectetur placeat reprehenderit praesentium, nisi quia! Culpa inventore repellat corporis quo, repudiandae ullam delectus aspernatur. Tempora, expedita laudantium voluptas unde ad necessitatibus recusandae similique laborum minima neque sunt.
		Nihil magnam nemo culpa voluptatum similique nesciunt beatae quos repellat nostrum debitis blanditiis saepe maxime quae alias numquam laudantium ratione, unde non. Fugit voluptatem explicabo, iure vitae rem alias repudiandae!

	</p>
	

	
</main>
