<script type="module" src="@components/pages/index/index.js"></script>
<link rel="stylesheet" href="@components/pages/index/index.scss">

<main class="page page--index">
	<section class="intro">
		<div class="intro__container">
			<div class="intro__inner">
				<div class="intro__main">
					<h1 class="intro__title">
						ИДЕАЛЬНЫЙ ПОДАРОК К НОВОМУ ГОДУ
					</h1>

					<div class="intro__descr">
						<!-- <img class="intro__descr-img" src="@img/intro/icon-1.svg" alt="Img"> -->
						<p class="intro__descr-text">
							Легкая трансформация из летней в зимнюю модель и обратно
						</p>
					</div>
					
					<div data-fls-beforeafter class="before-after">
						<div data-fls-beforeafter-before class="before-after__item">
							<img src="@img/intro/intro-after.png" alt="Img">
						</div>
						<div data-fls-beforeafter-after class="before-after__item">
							<img src="@img/intro/intro-before.png" alt="Img">
						</div>
						<div data-fls-beforeafter-arrow class="before-after__arrow"></div>
					</div>

				</div>

			</div>
		</div>
	</section>

	

	
</main>
