<header data-fls-header class="header">
	<div class="header__container">
		<div class="header__inner">
			<div class="header__item header__item--start">
				<a class="header__tel" href="#" tel:="+74999999999">
					<p class="header__tel-text header__tel-text--2">
						ПОМОЖЕМ ПОДОБРАТЬ, ЗВОНИТЕ
					</p>
					
					<div class="header__tel-number">
						<strong>+ 7 (499)</strong>
						<span>- показать</span>	
					</div>

					<p class="header__tel-text header__tel-text--1">
						Ежедневно с 10:00 до 22:00
					</p>
				</a>
			</div>

			<div class="header__item header__item--center">
				<img class="header__label" src="@img/header/logo-15.svg" alt="Img">
				<a class="header__logo" href="index.html">
					<img src="@img/header/logo.svg" alt="MOTAX">
				</a>
				<img class="header__logo--text" src="@img/header/logo-text.svg" alt="Img">
			</div>

			<div class="header__item header__item--end">
				<button class="header__btn">
					ПЕРЕЗВОНИТЕ МНЕ
				</button>
			</div>
		</div>
	</div>
</header>